body{
    background-color:white;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14;
}

#topNavBar {
	background-color: orange;
	margin-bottom: 10px;
	text-align: right;
    height: 35px;
}

#topNavBar ul {

	padding: 5px;
	margin: 0px;

}

#topNavBar ul li {
	list-style: none; /* No bullet points */
	display: inline;
	margin-right: 20px;

}

#topNavBar ul li a{
   color: white;
   font-size: 20px;
	 text-decoration:none
}

#deleteButton1{
    border-radius: 20px;
    background-color: #cc0000;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: transparent;
    text-decoration: none;
    color: white;
    font-size: 20;
    cursor: pointer;
}

#deleteButton2{
    border-radius: 20px;
    background-color: #cc0000;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: transparent;
    text-decoration: none;
    color: white;
    font-size: 20;
    cursor: pointer;
}


.addButton{
    border-radius: 20px;
    background-color: #00b3b3;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

.addButton a{
    color: white;
    font-size: 20;
    text-decoration: none;
    cursor: pointer;
}

.inputs{
    width: 275px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#accounts{
    position: absolute;
    top: 30%;
    left: 20%;
    width: 300px;
    height: 40%;
    padding: 10px;
}

#accountsList{
    padding: 10px;
    margin-bottom: 10px;
    background-color: whitesmoke;
}

#tables{
    position: absolute;
    top: 30%;
    right: 20%;
    width: 300px;
    height: 40%;
    padding: 10px;
}

#tablesList{
    padding: 10px;
    margin-bottom: 10px;
    background-color: whitesmoke;
}


#CreateIcon {
    position:absolute;
    top: 600px;
    left: 280px;
  }

  #CancelIcon {
    position:absolute;
    top: 600px;
    left: 680px;
  }

  .button{
    border-radius: 6px;
    height: 25px;
    width: 25px;
    background-color: orange;
    border: none;
    font-size: 20px;
    margin-top: 16px;
  }

  .saveButton{
    background-color: #00b3b3;
    width: 280px;
    height: 35px;
    text-align: center
 }

 .bottomButton{
    background-color: #cc0000;
    width: 280px;
    height: 35px;
    text-align: center
 }

 .buttonText{
    color: white;
    font-size: 18px;
    text-decoration:none
 }
